*{margin:0;padding:0;box-sizing:border-box;}
body {
	background: #333333;
	color: #ff6600;
	font-family: 'Forum', serif;
	font-size:18px;
}
section { }
header {
	padding-top: 2em;
}
section#specialize{
	padding: 3em;
}
section#slogan {
	float: left;
	padding: 1em 3em;
	padding-top: 1em;
	font-style: italic;
	font-size: 1.5em;
}
section#work {
	padding: 4em;
}
section#connect {
	float: left;
	font-size: 2em;
}
h1 {
	float:left;
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: Helvetica, sans-serif;
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
ul {
	list-style-type:none;
}
li {
	float:left;
	color: #19FFFF;
	font-size: 2em;
	padding-left: 1em;
}
a {
	color: #19FFFF;
	text-decoration: none;
}
#pics img{
	float:left;
	width: 10em;
}
#social-icons img {
	border-radius:100%;
	height: 2em;
}
img.logo {
	float: left;
	height: 6em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
