:root{
	font-size: calc(100vw / 50);
}

body {
	background: #333333;
	color: #ff6600;
	font-family: 'Forum', serif;
	font-size: 5vw;
}

section#splash {
	padding: 2em 0em;
}

.logo {
	float: left;
	width:	6em;
	height: 3em;	
}

h1 {
	position: relative;
	padding-top: 1.5em;
	padding-left: 0px;
	font-family: "Helvetica", sans-serif;
	font-size: 7vw;
}

li {
	display: inline;
	color: #19FFFF;
	font-size: .8em;
	padding-left: .5em;
}

a:link {
	color: #19FFFF;
	text-decoration: none;
}

section#work {
	padding: 3em;
}

img {
	border-radius: 50%;
	width: 4em;
	height: 4em;
}

section#connect {
	padding:2em;
	width: 2em;
	height: 2em;
}