*{margin:0;padding:0;box-sizing:border-box;}
body {
	background: #333333;
	color: #ff6600;
	font-family: 'Forum', serif;
	font-size:16px;
}
section { }
header {
	padding: 2em 0em;
}
section#work {
	padding: 3em;
}
section#connect {
	padding:2em;
	width: 2em;
	height: 2em;
}
h1 {
	float:left;
	padding-top: 1.5em;
	padding-left: 0px;
	font-family: Helvetica, sans-serif;
	font-size: 5em;
}

li {
	float:left;
	color: #19FFFF;
	font-size: .8em;
	padding-left: .5em;
}

a {
	color: #19FFFF;
	text-decoration: none;
}
img {
	border-radius: 50%;
	width: 4em;
}
section#social-icons img {
	border-radius:0;
}
img.logo {
	float: left;
	width: 6em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
